@media (min-width: 1200px) {
  .list-work .slick-arrow{
      margin-top: -80px !important;
  }
  .list-inno .slick-arrow{
      margin-top: -65px !important;
  }
  .menu-title{
    font-size: 3rem;
  }
  .menu-sub{
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .list-work .slick-arrow{
      margin-top: -75px !important;
  }
  .list-inno .slick-arrow{
      margin-top: -65px !important;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
  .list-work .slick-arrow{
      margin-top: -85px !important;
  }
  .list-inno .slick-arrow{
      margin-top: -65px !important;
  }
  .menu-title{
    font-size: 2rem;
  }
  .menu-sub{
    font-size: 1rem;
  }
  .who-more{
  	bottom: -2rem;
  }
  .what-more{
  	bottom: 0rem;
  }
}
@media (max-width: 575px) {
  html {
    font-size: 12px;
  }
  #main{
    padding-bottom: 0rem !important;
    min-height: calc(100vh - 70px) !important;
  }
  .menu-title{
    font-size: 1rem;
  }
  .menu-sub{
    font-size: 0.7rem;
  }
  .banner-img{
  	height: 300px !important;
  }
  .image-banner{
    height: 300px !important;
  }
  .sub-img-item{
  	width: 40px !important;
    height: 30px !important;
    margin-left: -10px !important;
    margin-top: -35px !important;
  }
  .list-work .slick-arrow{
      margin-top: -55px !important;
  }
  .list-inno .slick-arrow{
      margin-top: -45px !important;
  }
  .section-work{
    padding-bottom: 0rem !important;
  }
  
  .section-who .description{
    margin-bottom: 1.5rem;
  }
  .section-who .who-more{
    bottom: -3rem;
  }
  .section-who .what-more{
    bottom: 2rem;
    right: 1rem;
  }
  .a_description{
    margin-bottom: 2rem;
  }
  .where-table{
    font-size: 8px;
  }
  
  .convention .convention-title {
  	font-size: 1.5rem;
  }
  .convention .sub {
    font-size: 0.8rem;
  }
  .convention div{
    padding-right: 5px;
    padding-left: 5px;
  }
  .about-where-title{
    font-size: 3.5rem !important;
  }
  .location-list{
    height: 10rem !important;
  }
  .location-item{
    font-size: 1rem;
    padding: 0rem 0.5rem !important;
    height: 30px !important;
    line-height:30px !important;
  }
  .last-img{
    margin-bottom: 2rem;
  }
}