@media (min-width: 1700px) {
  html{
    font-size: 24px;
  }
  .container{
    max-width: 1600px;
  }
  .menu-title{
    font-size: 3rem;
  }
  .menu-sub{
    font-size: 1.5rem;
  }
  .img-arrow-left{
    width: 35px;
  }
  .img-arrow-right{
    width: 35px;
  }
  .img-arrow-up{
    height: 30px;
  }
  .img-arrow-down{
    height: 30px;
  }
}
@media (min-width: 1200px) {
  .list-work .slick-arrow{
      margin-top: -80px !important;
  }
  .list-inno .slick-arrow{
      margin-top: -65px !important;
  }
  .menu-title{
    font-size: 2rem;
  }
  .menu-sub{
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  .list-work .slick-arrow{
      margin-top: -75px !important;
  }
  .list-inno .slick-arrow{
      margin-top: -65px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 16px;
  }
  .list-work .slick-arrow{
      margin-top: -85px !important;
  }
  .list-inno .slick-arrow{
      margin-top: -65px !important;
  }
  .menu-title{
    font-size: 2rem;
  }
  .menu-sub{
    font-size: 1rem;
  }
  .who-more{
  	bottom: -2rem;
  }
  .what-more{
  	bottom: 0rem;
  }
}
@media (max-width: 575px) {
  html {
    font-size: 16px;
  }
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
  #main{
    padding-bottom: 0rem !important;
    min-height: calc(100vh - 70px) !important;
  }
  .img-arrow-left{
    margin-top: 0px;
  }
  .img-arrow-right{
    margin-top: 0px;
  }
  .menu-title{
    font-size: 2rem;
  }
  .menu-sub{
    font-size: 1rem;
  }
  .menu-title-about{
    margin-bottom: 0rem;
  }
  .menu-title-inno{
    margin-top: 1rem;
  }
  /*.banner-img{
  	height: 300px !important;
  }*/
  /*.image-banner{
    height: 300px !important;
  }*/
  .section-title{
    font-size: 4rem;
  }
  .list-inno .slick-arrow{
    margin-top: -25px !important;
  }
  .section-work{
    padding-bottom: 0rem !important;
  }
  .link-page{
    margin-bottom: 0px !important;
  }
  .item-title-2{
    margin-top: 0rem !important;
  }
  .work-info{
    margin-top: 0.5rem;
  }
  .section-who .section-title{
    width: 90%;
  }
  .section-who .description{
    margin-bottom: 1.5rem;
    padding-top: 0.35rem;
  }
  .section-who .who-more{
    bottom: -3rem;
  }
  .section-who .what-more{
    bottom: 2rem;
    right: 1rem;
  }
  .section-who .what-title{
    width:  90%;
  }
  .section-who .what-text{
    font-size: 1.3rem;
  }
  .a_description{
    margin-bottom: 2rem;
  }
  .section-inno{
    padding-bottom: 2rem;
  }
  .section-inno .item-date{
    width: 100%;
  }
  .inno-item .item-title-2{
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .inno-item .item-content{
    margin-top: 1rem;
  }
  .section-contact{
    margin-top: 2rem;
  }
  .section-contact .line-all-c{
    border-top: 2px solid #7E8083;
    margin: 1rem 0px;
    width: calc(100% - 30px);
    margin-left: 15px;
  }
  .section-contact .type{
    float: right;
  }
  .paging-content{
    float: left !important;
  }
  .about-who-title{
    width:  90%;
  }
  .about-who-container .slick-arrow{
    margin-top: -10px !important;
  }
  .about-who-container .ex-title{
    margin-top: 1rem;
  }
  .about-what-section-title{
    width:  90%;
  }
  .about-what-description{
    font-size: 1.5rem !important;
  }
  .about-where-title{
    font-size: 3.5rem !important;
  }
  .last-img{
    margin-bottom: 2rem;
  }
  .line-all-w{
    border-top: 2px solid #7E8083;
    margin: 1rem 0px;
    width: 100%;
  }
  .back-top{
    bottom: -2rem;
    right: 0px;
  }
  .footer-content{
    text-align: left;
  }
}